body 
{
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background-color: #191970;
}

/* Header styling */
header 
{
background-image: URL("header image.png");
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
position: relative;
color: white;
padding: 190px 0;
text-align: center;
}

nav 
{
position: fixed; 
top: 0;
left: 0;
width: 100%; 
z-index: 1000; 
}

/* Navigation styling */
nav ul 
{
list-style-type: none;
padding: 10px 0;
margin: 0;
text-align: center;
background-color: rgba(123, 104, 238, 0.6);
}
nav ul li 
{
display: inline;
margin: 0 15px;
}
nav ul li a 
{
color: white;
text-decoration: none;
font-family: Verdana;
font-size: 16px;
font-weight: bold;
}
nav ul li a:hover 
{
text-decoration: underline;
}

h1
{
font-family: Arial, sans-serif;
}

h2
{
font-family: Arial, sans-serif;
}

h3
{
font-family: Arial, sans-serif;
}

h4
{
font-family: Arial, sans-serif;
font-family: Verdana;
}

/* Main content styling */
main 
{
padding: 20px;
text-align: center;
font-family: Verdana;
color: 	#FFFFE0;
border: solid rgba(123, 104, 238, 1.0);
border-width: thick;
box-sizing: border-box;
background-image: URL("tech-background (1).png");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}

ul
{
font-family: Verdana;
}

div.content
{
z-index:30;
background-color: rgba(0, 0, 0, 0.3);
text-align: justified;
margin: 0px 100px 0px 100px;
padding: 25px;
border-radius: 5px;
}

/* Footer styling */
footer 
{
text-align: center;
background-color: rgba(123, 104, 238, 0.6);
padding: 10px 0;
position: relative;
bottom: 0;
margin: 0;
width: 100%;
height: 15px;
background-size: cover;
background-position: center; 
background-repeat: no-repeat; 
display: flex;
justify-content: center;
align-items: center; 
}

footer p
{
font-family: Verdana;
font-weight: bold;
color: white;
}

/* Form button styling */
button 
{
background-color: #333;
color: white;
padding: 10px 20px;
border: none;
cursor: pointer;
}
button:hover 
{
background-color: #555;
}

div.gallery 
{
display: grid;
grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
gap: 15px;
}

div.picture 
{
position: relative;
}

div.picture img 
{
width: 100%;
height: auto;
border-radius: 8px;
transition: transform 0.3s ease-in-out;
border: solid rgba(123, 104, 238, 1.0);
border-width: thick;
}

div.caption 
{
position: absolute;
bottom: 10px;
left: 0;
right: 0;
padding: 10px;
background: rgba(0, 0, 0, 0.6);
color: white;
font-size: 16px;
text-align: center;
opacity: 0;
transition: opacity 0.3s ease-in-out;
}

div.picture:hover img 
{
transform: scale(1.05); /* Zoom effect on hover */
}

div.picture:hover .caption 
{
opacity: 1; /* Show caption on hover */
}

mark
{
color: white;
background-color: rgb(123, 104, 238);
}


